*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

button {
    padding: 5px 6px;
    background-color: lightgoldenrodyellow;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: 1rem;
    letter-spacing: 2px;
    position: 40px;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

div#fact-container {
    box-sizing: content-box;
    padding-top: 20px;
    background-color: none;
    color: black;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: lightgoldenrodyellow;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    background-color: #252627;
}

header h1,
header a {
    color: white;
}

.about h1,
.skills h1,
.work h1,
.contact h1
.text p {
    color: black;
}

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 30%;
    transform: translateY(-50%);
}

.main-info-section {
    height: calc(75vh - 81.6px);
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: 181818;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {
    display inline-block;
}

span:hover {
    color: #48CFAD;
    transition: all .5s;
}

span.name {
    color: #ED5565;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .9rem;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: 181818;
}

.text a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.about {
    height: 90vh;
    margin-top: 100px;
}

.work {
    height: 90vh;
}

.about h1,
.work h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: 0.7;
}

.social-icons {
    padding-left: 70px;
} 

.social-icons li {
    display: inline-block;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.social-icons li a {
    border-bottom: none;
}

.social-icons li img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.about-me-info {
    max-width: 900px;
    background-color: black;
    padding: 30px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-me-info p {
    font-size: 1.3rem;
    color: 181818;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}

.skills {
    height: 90vh;
}

.skills h1,
.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .7;
}

.skills info {
    font-size: 1.4rem;
    color: #bebebe;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

div[class^='tag-'] {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785A7;
    margin-right: 30px;
}

div[class^='tag-'] p {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
}

.progressbar {
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #48CFAD;
    border-radius: 20px;
    margin-top: 7px;
}

div[class^='bar-'] {
    position: absolute;
    background-color: #48CFAD;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}

.bar-DSA {
    width: calc(85% - 6px);
}
.bar-dbms {
    width: calc(90% - 6px);
}
.bar-hci {
    width: calc(90% - 6px);
}
.bar-dis {
    width: calc(75% - 6px);
}

.contact  {
    margin-top: 50px;
}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child {
    width: 150px;
    background-color: #ED5565;
    border: none;
    cursor: pointer;
}

footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}

img {
    width: 100px;
    height: 100px;
}

.profile-image img {
    width: 350px;
    height: 350px;
    margin-top: 50px;
}